/*================================================================================
  Item Name: Materialize - Material Design Admin Template
  Version: 3.1
  Author: GeeksLabs
  Author URL: http://www.themeforest.net/user/geekslabs
================================================================================*/
/*-----------------------------------------

------------------------------------------*/
/*=================================================================================
    General
====================================================================================*/
/*----------------------------------------
  General Layout Style
------------------------------------------*/
body {
    background-color: #efefef;
    font-family: 'Lato', sans-serif !important;
    font-weight: initial;
}

.modal-overlay {
    opacity: 0.8 !important;   
}

.btn-flat.disabled, .btn-flat:disabled, .btn-flat[disabled], .btn-floating.disabled, .btn-floating:disabled, .btn-floating[disabled], .btn-large.disabled, .btn-large:disabled, .btn-large[disabled], .btn-small.disabled, .btn-small:disabled, .btn-small[disabled], .btn.disabled, .btn:disabled, .btn[disabled], .disabled.btn-large, .disabled.btn-small {
    pointer-events: none;
    background-color: grey !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: white !important;
    cursor: default;
}

.switchStoreHeader {
    margin: 0px;
    position: fixed;
    height: 75px;
}

.swtchTabs {
    height: 50px !important;
    position: fixed;
    z-index: 1;
    margin-top: 75px;
    left: 0px;
}

.modal {
    /* height: 80% !important; */
    margin-top: 0px !important;
}

nav {
    background: #005E77 !important;
}

#packagingModal .character-counter {
    display: none !important;
}

.settingsPage ul {
    /* z-index: 1000 !important; */
}

.switchStoreHeader {
    background: #7eb7c8;
    color: white;
    z-index: 10;
    width: 100%;
    margin-top: -10px;
    margin-top: 0px !important;
    padding: 10px;
}

#completeShopSetup {
    overflow: initial !important;
}

#completeShopSetup li {
    list-style: circle !important;
}

#switchStoreContent>li.collection-item.avatar {
    max-width: 350px;
    display: inline-block;
    margin: 10px;
    width: 45%;
    min-width: 300px;
}

nav {
    background-color: #0F5F75 !important;
}

#domainSuffix input {
    /* text-align: center; */
    margin-top: 6px;
}

@media screen and (max-height: 549px) {
    #sideNavFooter {
        position: initial !important;
    }
}

.tabs .indicator {
    background: white;
}

#firstStoreModal {
    top: 30% !important;
}

.user-details {
    width: 100%;
}

.promo-state-icon:before {
    margin-right: 10px;
}

.promo-inactive {
    color: red;
}

.promo-inactive:before {
    color: red;
}

.promo-active {
    color: #046704;
}

.selectMmbr {
    transition: 0.5s;
}

.deliveryToggle {
    background-color: #14c814;
    color: white;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

#store-dropdown li a {
    padding-top: 10px;
}

#store-dropdown li a i {
    height: auto !important;
}

#main {
    padding-left: 240px;
}

footer {
    padding-left: 240px;
}

footer.page-footer {
    padding-top: 0px;
}

.beacons .collection-item:last-child {
    padding-bottom: 25px;
}

select {
    background-color: transparent;
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 2px;
    height: 3rem;
    border-bottom: 1px solid #9e9e9e;
}

#sidenav-overlay {
    background-color: transparent;
}

.container {
    padding: 0 0.5rem;
    margin: 0 auto;
    max-width: 100% !important;
    width: 98%;
}

#left-sidebar-nav {
    position: fixed;
    width: 100px;
    left: 180px;
    z-index: 999;
    height: auto;
}

#left-sidebar-nav span.badge.new {
    line-height: 20px;
    margin-top: 11px;
}

#content .header-search-wrapper {
    width: 100%;
    margin: 0 auto;
    height: 40px;
    display: inline-block;
    position: relative;
}

#content .container .row {
    margin-bottom: 0;
}

#loyaltyModal input {
    text-align: center;
}

@media only screen and (min-width: 601px) {
    .container {
        width: 98%;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 98%;
    }
}

@media only screen and (max-width: 993px) {
    #main {
        padding-left: 0;
    }

    footer {
        padding-left: 0;
    }
}

.ps-scrollbar-x-rail {
    z-index: 9999;
}

.ps-scrollbar-y-rail {
    z-index: 9999;
}

/************** Progress Dots Start *******************/
@keyframes blink {
    0% {
        opacity: .2;
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: .2;
    }
}

.saving span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.saving span:nth-child(2) {
    animation-delay: .2s;
}

.saving span:nth-child(3) {
    animation-delay: .4s;
}

/************** Progress Dots End **************************/
/***************************************
                 CHOOSE WALLET MODAL
 ***************************************/
.modal3 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1040;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content3 {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/*---------------------------------
    Typography
-----------------------------------*/
.small {
    font-size: 1.0rem;
    margin: 0;
    padding: 0;
}

.medium-small {
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
}

.ultra-small {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
}

small {
    font-size: 0.8rem;
}

.strong {
    font-weight: 600;
}

h4.header {
    line-height: 2.508rem;
    margin: 1.14rem 0 0.912rem 0;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
}

h4.header2 {
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
}

p.title {
    font-size: 1.3rem;
}

p.header {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

li.li-hover:hover {
    background: transparent !important;
}

li.search-out:hover {
    background: transparent;
}

li.mobile:before {
    background: #f7464a;
}

li.kitchen:before {
    background: #46bfbd;
}

li.home:before {
    background: #fdb45c;
}

.more-text {
    padding: 5px 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.valign-demo {
    height: 400px;
    background-color: #ddd;
}

.margin {
    margin: 0 !important;
}

/*----------------------------------------
    Pre-loader
------------------------------------------*/
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #eceff1;
    z-index: 1000;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 1001;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

#loader-logo {
    display: block;
    position: absolute;
    left: 48%;
    top: 46%;
    background: #005E77;
    z-index: 1001;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}

.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.progress {
    background-color: rgba(255, 64, 129, 0.22);
}

/* JavaScript Turned Off */
.no-js #loader-wrapper {
    display: none;
}

/*=================================================================================
    Header
====================================================================================*/
/*----------------------------------------
    Page Header
------------------------------------------*/
h1.logo-wrapper {
    margin: 0;
}

h1 span.logo-text {
    display: none;
}

.menu-sidebar-collapse {
    margin: 0 10px;
}

.menu-sidebar-collapse i {
    line-height: 36px !important;
}

header .brand-logo {
    margin: 1px 0;
    padding: 14px 20px;
}

header .brand-logo img {
    width: 172px;
}

@media only screen and (max-width: 992px) {
    nav .nav-wrapper {
        text-align: center;
    }

    nav .nav-wrapper a.page-title {
        font-size: 36px;
    }

    ul.side-nav.leftside-navigation {
        top: 0px !important;
    }
}

/*Search box*/
.header-search-wrapper {
    margin: 10px auto 0 240px;
    width: calc(100% - 600px);
    height: 40px;
    display: inline-block;
    position: relative;
}

.header-search-wrapper i {
    position: absolute;
    font-size: 24px;
    top: 6px;
    left: 24px;
    line-height: 32px !important;
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
}

input.header-search-input {
    display: block;
    padding: 8px 8px 8px 72px;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    height: 24px;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    border: none;
    font-size: 16px;
    appearance: textfield;
    font-weight: 400;
    outline: none;
    border-radius: 3px;
}

input.header-search-input:hover {
    background: rgba(255, 255, 255, 0.5);
}

input.header-search-input:focus {
    color: #333;
    background: #fff;
    border-bottom: none !important;
    box-shadow: none !important;
}

.header-search-wrapper-focus i {
    color: #444;
}

.header-search-input::-webkit-input-placeholder {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.header-search-input::-moz-placeholder {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.header-search-input:-ms-input-placeholder {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.header-search-input:focus::-webkit-input-placeholder {
    color: #333;
    font-size: 16px;
    font-weight: 400;
}

.header-search-input:focus::-moz-placeholder {
    color: #333;
    font-size: 16px;
    font-weight: 400;
}

.header-search-input:focus::placeholder {
    color: #333;
    font-size: 16px;
    font-weight: 400;
}

.header-search-input:focus:-ms-input-placeholder {
    color: #333;
    font-size: 16px;
    font-weight: 400;
}

.header-search-input::placeholder {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.search-out {
    display: none;
}

.search-out input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #fff !important;
    box-shadow: none;
}

.search-out-text {
    border-bottom: 1px solid #fff !important;
}

.translation-button img {
    position: relative;
    top: 12px;
}

#translation-dropdown .language-select {
    position: relative;
    top: -9px;
}

.notification-badge {
    position: relative;
    right: 5px;
    top: -20px;
    color: #ffffff;
    background-color: #FF4081;
    margin: 0 -.8em;
    border-radius: 50%;
    padding: 4px 5px;
}

#notifications-dropdown h5 {
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 500;
}

#notifications-dropdown li {
    padding: 10px;
    font-size: 1rem;
}

#notifications-dropdown li>a {
    padding: 0;
    font-size: 1rem;
    font-weight: 300;
}

#notifications-dropdown li>a>i {
    display: inline-block;
    font-size: 1.2rem;
    position: relative;
    top: 4px;
}

#notifications-dropdown li>time {
    font-size: 0.8rem;
    font-weight: 400;
}

#notifications-dropdown li.divider {
    padding: 0;
}

/*=================================================================================
    Sidebar
====================================================================================*/
/*----------------------------------------
    Sidebar Main Menu
------------------------------------------*/
nav.top-nav {
    height: 55px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

nav.top-nav a.page-title {
    line-height: 122px;
    font-size: 48px;
}

nav ul li.no-hover:hover {
    background: none;
}

.side-nav a {
    line-height: 42px;
    height: 42px;
}

.side-nav.leftside-navigation .collapsible-body li.active {
    background-color: rgba(0, 0, 0, 0.04);
}

.side-nav.fixed.leftside-navigation .collapsible-body li.active {
    background-color: rgba(0, 0, 0, 0.04);
}

.side-nav .collapsible-body li a {
    margin: 0 1rem 0 3rem;
}

ul.side-nav.leftside-navigation {
    top: 64px;
    /*  overflow: hidden;*/
}

ul.side-nav.leftside-navigation hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e0e0e0;
    margin: 1em 0;
    padding: 0;
}

ul.side-nav.leftside-navigation li {
    line-height: 44px;
}

ul.side-nav.leftside-navigation li:hover {
    background-color: none;
}

ul.side-nav.leftside-navigation li.active {
    background-color: transparent;
    margin-bottom: 5px;
}

ul.side-nav.leftside-navigation li a {
    font-size: 14px;
    font-weight: 400;
}

ul.side-nav.leftside-navigation li.user-details {
    background: #005E77;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 15px;
    padding: 15px;
    text-align: left;
    height: auto;
}

ul.side-nav.leftside-navigation li.user-details #profile-dropdown a {
    padding: 8px 15px;
}

ul.side-nav.leftside-navigation .profile-btn {
    margin: 0;
    text-transform: capitalize;
    padding: 0;
    text-shadow: 1px 1px 1px #444;
    font-size: 15px;
}

ul.side-nav.leftside-navigation ul.collapsible-accordion {
    background-color: #fff;
}

.store-img {
    width: 70px;
}

ul.side-nav li {
    padding: 0;
}

ul.side-nav .collapsible-header {
    margin: 0;
}

#slide-out li a i {
    line-height: inherit;
    width: 2rem;
    font-size: 1.6rem;
    display: block;
    float: left;
    text-align: center;
    margin-right: 1rem;
}

#slide-out ul.side-nav li {
    padding: 0 !important;
}

.caption {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 30px;
}

.caption-uppercase {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.sidebar-collapse {
    position: absolute;
    left: -170px;
    top: -45px;
}

.user-task,
.user-time {
    margin: 0;
    font-size: 13px;
    color: #fff;
}

.user-roal {
    color: #fff;
    margin-top: -5px;
    font-size: 13px;
    text-shadow: 1px 1px 1px #444;
    line-height: 25px;
    text-transform: lowercase;
}

.user-details .row {
    margin: 0;
}

.bold>a {
    font-weight: bold;
}

.rightside-navigation {
    overflow: hidden;
}

/*----------------------------------------
    Right Chat Slideout
------------------------------------------*/
#right-search .input-field {
    margin-top: 0;
}

#chat-out .collapsible-header {
    background-color: transparent;
    border: none;
    line-height: 45px;
    height: 45px;
    font-weight: 400;
}

#chat-out .collapsible-header:after {
    color: #fff;
}

#chat-out .chat-out-list {
    padding: 5px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
}

#chat-out .favorite-associate-list .circle {
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: 2px solid #999;
    padding: 3px;
    display: block;
}

#chat-out .favorite-associate-list .online-user {
    border: 2px solid #00e676;
}

#chat-out .favorite-associate-list p {
    padding: 0;
}

#chat-out .favorite-associate-list p.place {
    font-size: 0.8rem;
}

#chat-out .recent-activity-list-icon {
    margin-top: 8px;
    font-size: 2rem;
}

#chat-out .recent-activity-list-text a {
    font-size: 0.8rem;
    padding: 0;
    font-weight: 600;
}

#chat-out .recent-activity-list-text p {
    font-size: 0.9rem;
    padding: 0;
}

.chat-close-collapse {
    padding: 5px 15px 0 0;
}

/* =================================================================================
    Content
================================================================================= */
/*----------------------------------------
    Breadcrumb
------------------------------------------*/
#breadcrumbs-wrapper {
    background: #f3f3f3;
}

h5.breadcrumbs-header {
    font-size: 1.64rem;
    line-height: 1.804rem;
    margin: 1.5rem 0 0 0;
}

.breadcrumbs {
    padding: 0;
    margin: 15px 0;
    list-style: none;
}

.breadcrumbs>li {
    display: inline-block;
}

.breadcrumbs>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

.breadcrumbs .active {
    font-weight: normal;
    color: #999;
}

.breadcrumbs-title {
    font-size: 1.5rem;
    line-height: 1.804rem;
    margin: 18px 0 0;
}

.breadcrumbs-nav {
    margin: 8px 0 9px;
}

.breadcrumb:before {
    content: "\e7c3";
    font-family: "Material-Design-Icons";
}

/*----------------------------------------
    Tables
------------------------------------------*/
.jsgrid-edit-row input[type="checkbox"],
.jsgrid-insert-row input[type="checkbox"],
.jsgrid-filter-row input[type="checkbox"],
.jsgrid-alt-row input[type="checkbox"],
.jsgrid-row input[type="checkbox"],
.config-panel input[type=checkbox] {
    position: relative !important;
    left: 0 !important;
    visibility: visible !important;
}

.jsgrid-grid-body {
    height: auto !important;
}

.jsgrid-edit-row select {
    display: block !important;
}

.jsgrid-insert-row select {
    display: block !important;
}

.jsgrid-insert-row .select-wrapper .caret {
    display: none !important;
}

.jsgrid-insert-row .select-wrapper .select-dropdown {
    display: none !important;
}

#jsGrid-sorting {
    height: 500px !important;
    overflow: scroll !important;
}

#jsGrid-page {
    height: 500px !important;
    overflow: scroll !important;
}

#jsGrid-custom-row {
    height: 500px !important;
    overflow: scroll !important;
}

/*----------------------------------------
    Cards
------------------------------------------*/
.card {
    overflow: hidden;
}

#card-stats .card-content {
    text-align: center;
}

#card-stats .card-stats-title {
    font-size: 1.2rem;
}

#card-stats .card-stats-title i {
    font-size: 1.2rem;
}

#card-stats .card-stats-compare {
    font-size: 1.0rem;
}

#card-stats .card-stats-compare i {
    position: relative;
    top: 5px;
}

#card-stats .card-stats-number {
    font-size: 1.8rem;
    line-height: 2.0rem;
    margin: 0.2rem 0 0.2rem 0;
    font-weight: 500;
}

#card-stats .card .card-content {
    padding: 10px 14px;
}

#card-stats .card .card-action {
    padding: 10px 14px;
}

/* alert card */
#card-alert i {
    font-size: 20px;
    position: relative;
    top: 2px;
}

#card-alert .alert-circle {
    display: inline-block;
    width: 40px;
    white-space: nowrap;
    border-radius: 1000px;
    vertical-align: bottom;
    position: relative;
    top: -5px;
    left: -2px;
}

#card-alert .single-alert {
    line-height: 42px;
}

#card-alert button {
    background: none;
    border: none;
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 20px;
    color: #fff;
}

#card-alert .card .card-content {
    padding: 20px 40px 20px 20px;
}

#card-alert .card-action i {
    top: 0;
    margin: 0;
}

/* work card */
#work-collections .collection-header {
    font-size: 1.14rem;
    font-weight: 500;
}

#work-collections p.collections-title {
    font-size: 1.0rem;
    padding: 0;
    margin: 0;
    font-weight: 500;
}

#work-collections p.collections-content {
    font-size: 0.9rem;
    padding: 0;
    margin: 0;
    font-weight: 400;
}

#work-collections .collection-item.avatar {
    height: auto;
    padding-top: 22px;
}

/* flight card */
#flight-card .flight-card-title {
    margin: 0;
    font-weight: 300;
    color: #fff;
}

#flight-card .flight-card-date {
    font-size: 1.0rem;
    margin: 0;
    color: #fff;
}

#flight-card .flight-state {
    padding-bottom: 15px;
}

#flight-card .flight-state-two {
    border-left: 1px dashed #9e9e9e;
}

#flight-card .flight-icon {
    font-size: 2.2rem;
    display: block;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

#flight-card .card-content-bg {
    background: url("../images/sample-1.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#flight-card .card-content {
    background: rgba(0, 0, 0, 0.25);
}

#flight-card .flight-state-wrapper {
    margin: 0 0 100px 0 !important;
}

#flight-card .card-header .card-title {
    padding: 20px;
}

/* task card */
#task-card label {
    display: block;
    color: rgba(0, 0, 0, 0.87);
    height: auto;
}

#task-card .task-card-title {
    margin: 0;
    color: #fff;
    font-weight: 300;
}

#task-card .task-card-date {
    font-size: 1.0rem;
    margin: 0;
    color: #fff;
}

#task-card .collection-header {
    padding: 20px;
}

#task-card .task-add {
    position: absolute;
    right: 10px;
    top: 76px;
}

#task-card .task-cat {
    padding: 2px 4px;
    color: #fff;
    margin-left: 37px;
    font-weight: 300;
    font-size: 0.8rem;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
}

.task-cat {
    padding: 2px 4px;
    color: #fff;
    font-weight: 300;
    font-size: 0.8rem;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
}

.collection .collection-item.avatar i.circle {
    font-size: 28px;
}

/* profile card */
#profile-card .card-image {
    height: 150px;
}

#profile-card .card-profile-image {
    width: 70px;
    position: absolute;
    top: 110px;
    z-index: 1;
    cursor: pointer;
}

#profile-card .btn-move-up {
    position: relative;
    top: -40px;
    right: -18px;
    margin-right: 10px !important;
}

#profile-card .card-content p {
    font-size: 1.2rem;
    margin: 10px 0 12px;
}

.card-move-up .move-up {
    padding: 20px;
}

.card .card-image img {
    height: 25vh;
}

/*----------------------------------------
    Charts
------------------------------------------*/
#chart-dashboard {
    padding-top: 12px;
}

#chart-dashboard .card {
    overflow: hidden;
}

#chart-dashboard .card .card-content {
    padding: 10px 14px;
}

.sample-chart-wrapper {
    width: 100%;
}

.chart-title {
    font-size: 1.6rem;
    font-weight: 300;
}

/* Revenue Chart */
.chart-revenue {
    float: right;
    text-align: center;
    padding: 8px;
    border-radius: 3px;
}

.chart-revenue .chart-revenue-total {
    font-size: 0.9rem;
    margin: 0;
}

.chart-revenue .chart-revenue-per {
    font-size: 0.8rem;
    margin: 0;
}

.chart-revenue .chart-revenue-per i {
    position: relative;
    top: 5px;
}

.chart-revenue-switch {
    padding-top: 28px;
    padding-right: 10px;
    color: #fff;
    text-align: right;
}

/* doughnut chart */
.doughnut-chart-status {
    position: relative;
    top: -75px;
    left: 0;
    font-size: 16px;
    font-weight: 500;
    height: 0;
    text-align: center;
}

.doughnut-chart-status p {
    margin-top: -5px;
}

.doughnut-chart-legend li {
    padding: 2px 0;
    font-size: 0.9rem;
}

.doughnut-chart-legend li:before {
    content: "";
    width: 8px;
    height: 8px;
    display: block;
    float: left;
    margin-top: 6px;
    margin-right: 4px;
}

a.button-collapse.top-nav {
    position: absolute;
    left: 7.5%;
    top: 0;
    float: none;
    margin-left: 1.5rem;
    color: #fff;
    font-size: 32px;
    z-index: 2;
}

/* trending bar chart */
.trending-bar-chart-wrapper {
    width: 100%;
}

.btn-move-up {
    position: relative;
    top: -28px;
    right: -18px;
    margin-right: 10px !important;
}

/* Flot Chart*/
.flotchart-placeholder {
    width: 100%;
    height: 300px;
    font-size: 13px;
    line-height: 1.2em;
}

#flotchart table {
    position: absolute;
    top: 13px;
    right: 17px;
    font-size: smaller;
    color: #545454;
    width: 100px;
}

#flotchart td {
    padding: 5px;
}

th {
    padding: 5px;
}

/* xCharts */
.xchart-placeholder {
    width: 90%;
    height: 300px;
}

/*Sparkline*/
.jqstooltip {
    border: none !important;
    box-sizing: content-box;
}

.tooltip-class {
    overflow: hidden;
    color: #fff;
    height: 20px;
    width: 30px;
}

#ct2-chart .ct-series.ct-series-a .ct-area {
    fill: #00bcd4;
}

#ct2-chart .ct-series.ct-series-a .ct-point {
    stroke: #00bcd4;
}

#ct2-chart .ct-series.ct-series-a .ct-line {
    stroke: #54e2f4;
}

/*  Widget */
.socialbox .logo {
    color: #fff;
    font-size: 28px;
    left: 20px;
    bottom: 20px;
    position: absolute;
}

.socialbox .info {
    color: #fff;
    margin: 0;
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 15px;
    padding: 0;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .doughnut-chart-status {
        display: none;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .doughnut-chart-status {
        display: none;
    }

    #card-stats .card-stats-compare {
        font-size: 0.8rem;
    }
}

/*----------------------------------------
    Calender
------------------------------------------*/
#full-calendar {
    padding-top: 30px;
}

#calendar h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 35px;
}

#calendar .fc-day-header {
    text-transform: uppercase;
    font-weight: 400;
}

#external-events {
    padding-top: 50px;
}

#external-events .fc-event {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    margin-bottom: 10px;
    cursor: all-scroll;
    border: none;
}

.fc button {
    background: #fff;
}

.fc td {
    border-width: 0 !important;
}

.fc th {
    border-width: 0 !important;
}

.fc-state-active {
    color: #ff4081 !important;
}

.fc-state-down {
    color: #ff4081 !important;
}

/*----------------------------------------
    Color Palette css for css-color.html page
------------------------------------------*/
.dynamic-color .red,
.dynamic-color .pink,
.dynamic-color .purple,
.dynamic-color .deep-purple,
.dynamic-color .indigo,
.dynamic-color .blue,
.dynamic-color .light-blue,
.dynamic-color .cyan,
.dynamic-color .teal,
.dynamic-color .green,
.dynamic-color .light-green,
.dynamic-color .lime,
.dynamic-color .yellow,
.dynamic-color .amber,
.dynamic-color .orange,
.dynamic-color .deep-orange,
.dynamic-color .brown,
.dynamic-color .grey,
.dynamic-color .blue-grey {
    height: 55px;
    width: 100%;
    padding: 0 15px;
    line-height: 55px;
    font-weight: 500;
    font-size: 12px;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.dynamic-color .col {
    margin-bottom: 55px;
}

tr.group {
    background-color: #ddd !important;
}

tr.group:hover {
    background-color: #ddd !important;
}

@media only screen and (max-width: 1024px) {
    tfoot {
        display: none;
    }
}

/*----------------------------------------
    Grid - Flat Site Mockup
------------------------------------------*/
#site-layout-example-left {
    background-color: #90a4ae;
    height: 300px;
}

#site-layout-example-right {
    background-color: #26a69a;
    height: 300px;
}

#site-layout-example-top {
    background-color: #e57373;
    height: 50px;
}

.flat-text-header {
    height: 35px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.15);
    display: block;
    margin: 27px auto;
}

.flat-text {
    height: 25px;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.15);
    display: block;
    margin: 27px auto;
}

.flat-text.small {
    width: 25%;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.15);
}

.flat-text.full-width {
    width: 100%;
}

.col.grid-example {
    border: 1px solid #eee;
    margin: 7px 0;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    background-color: #ff6347;
    color: #fff;
    padding: 0;
}

.col.grid-example span {
    font-weight: 200;
    line-height: 50px;
}

.waves-color-demo .collection-item {
    height: 57px;
    line-height: 57px;
}

/*----------------------------------------
    Chrome Browser Grid Example
------------------------------------------*/
.browser-window {
    text-align: left;
    width: 100%;
    height: auto;
    display: inline-block;
    -webkit-border-radius: 5px 5px 2px 2px;
    -moz-border-radius: 5px 5px 2px 2px;
    border-radius: 5px 5px 2px 2px;
    background-clip: padding-box;
    background-color: transparent;
    margin: 20px 0;
    overflow: hidden;
}

.browser-window .top-bar {
    height: 30px;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    background-clip: padding-box;
    border-top: thin solid #eaeae9;
    border-bottom: thin solid #ddd;
    background: linear-gradient(#e7e7e6, #e0e0e0);
}

.browser-window .circle {
    height: 10px;
    width: 10px;
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background-color: #fff;
    margin-right: 1px;
}

.browser-window .circles {
    margin: 5px 12px;
}

.browser-window .content {
    margin: 0;
    width: 100%;
    display: inline-block;
    border-radius: 0 0 5px 5px;
    background-color: #fafafa;
}

.browser-window .row {
    margin: 0;
}

#close-circle {
    background-color: #ff5c5a;
}

#minimize-circle {
    background-color: #fdb45c;
}

#maximize-circle {
    background-color: #1bc656;
}

.clear {
    clear: both;
}

.promo i {
    color: #ee6e73;
    font-size: 6rem;
    display: block;
}

.promo-caption {
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
}

/*----------------------------------------
    Shadow effect
------------------------------------------*/
.shadow-demo {
    background-color: #26a69a;
    width: 100px;
    height: 100px;
    margin: 20px auto;
}

.collapsible-header {
    font-weight: 500;
}

.chStoreUpdate .collapsible-body {
    padding: 0px !important;
}

/* Sidebar nav open close icons*/
.collapsible-header:after {
    font-family: "Material-Design-Icons";
    /*    content: "\e7c3";*/
    float: right;
    color: #9e9e9e;
    font-size: 18px;
}

.collapsible-header.active:after {
    /*    content: "\e7c1";*/
}

#input-select .input-field label {
    position: absolute;
    top: -14px;
    font-size: 0.8rem;
}

/*----------------------------------------
    icon page
------------------------------------------*/
.icon-demo {
    line-height: 50px;
}

.icon-container i {
    font-size: 3em;
    display: block;
    margin-bottom: 10px;
}

.icon-container .icon-preview {
    height: 120px;
    text-align: center;
}

.icon-holder {
    display: block;
    text-align: center;
    width: 150px;
    height: 115px;
    float: left;
    margin: 0 0 15px 0;
}

.icon-holder p {
    margin: 0;
}

/*----------------------------------------
    Error Page
------------------------------------------*/
.text-long-shadow {
    text-shadow: #1d7d74 1px 1px, #1d7d74 2px 2px, #1d7d74 3px 3px, #1d7d74 4px 4px, #1d7d74 5px 5px, #1d7d74 6px 6px, #1d7d74 7px 7px, #1d7d74 8px 8px, #1d7d74 9px 9px, #1d7d74 10px 10px, #1d7d74 11px 11px, #1d7d74 12px 12px, #1d7d74 13px 13px, #1d7d74 14px 14px, #1d7d74 15px 15px, #1d7d74 16px 16px, #1d7d74 17px 17px, #1d7d74 18px 18px, #1d7d74 19px 19px, #1d7d74 20px 20px, #1d7d74 21px 21px, #208b81 22px 22px, #208b81 23px 23px, #208b81 24px 24px, #208b81 25px 25px, #208b81 26px 26px, #208b81 27px 27px, #208b81 28px 28px, #208b81 29px 29px, #208b81 30px 30px, #26a69a 31px 31px, #26a69a 32px 32px, #26a69a 33px 33px, #26a69a 34px 34px, #26a69a 35px 35px, #26a69a 36px 36px, #26a69a 37px 37px;
    background-color: #26a69a;
    width: 100%;
    font-size: 10rem;
    color: #fff !important;
    text-align: center;
    padding: 20px 0 !important;
}

/*----------------------------------------
    Login Page
------------------------------------------*/
.login-form {
    width: 280px;
}

#login {
    margin-top: 15%!important;
    height: 100%;
    overflow: initial !important;
}

#firstProdModal {
    overflow: initial;
    height: 40%;
}

.login-form-text {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;
}

.profile-image-login {
    width: 100px;
    height: 100px !important;
}

.login-text {
    margin-top: -6px;
    margin-left: -6px !important;
}

.loginBtn {
    box-sizing: border-box;
    position: relative;
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
}

.loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
}

.loginBtn:focus {
    outline: none;
}

.loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

.loginBtn--google {
    background: #256D82;
}

.loginBtn--google:before {
    border-right: #aeb4c6 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}

.loginBtn--google:hover,
.loginBtn--google:focus {
    background: #256D82;
}

/*----------------------------------------
    Email Page
------------------------------------------*/
#mail-app hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e0e0e0;
    margin: 1em 0;
    padding: 0;
}

#mail-app #email-sidebar {
    margin-top: 0;
}

#mail-app #email-list {
    margin-top: 0;
}

#mail-app #email-details {
    margin-top: 0;
}

#mail-app .modal .modal-content {
    padding: 0;
}

.email-unread .email-title {
    font-weight: 500;
}

#email-sidebar {
    min-height: 650px;
}

#email-sidebar li {
    padding: 10px 0;
    text-align: center;
}

#email-sidebar li i {
    padding: 12px;
    color: #272727;
}

#email-sidebar li i.active {
    background: #ddd;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

#email-sidebar li i:hover {
    background: #ddd;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

#email-list {
    padding: 0;
}

#email-list .collection {
    margin: 0;
}

#email-list .collection .collection-item.avatar {
    height: auto;
    padding-left: 72px;
    position: relative;
}

#email-list .collection .collection-item.avatar .secondary-content {
    position: absolute;
    top: 10px;
    right: -4px;
}

#email-list .collection .collection-item.avatar .secondary-content.email-time {
    right: 8px;
}

#email-list .collection .collection-item.avatar .icon {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    top: 20px;
}

#email-list .collection .collection-item.avatar .circle {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 300;
    padding: 10px;
}

#email-list .collection .collection-item.avatar img.circle {
    padding: 0;
}

#email-list .collection .collection-item:hover {
    background: #e1f5fe;
    cursor: pointer;
}

#email-list .collection .collection-item.selected {
    background: #e1f5fe;
    border-left: 4px solid #29b6f6;
}

#email-list .attach-file {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #9e9e9e;
    font-size: 1.1rem;
}

#email-details {
    padding: 15px;
}

#email-details .email-subject {
    font-size: 1.2rem;
}

#email-details .email-subject i {
    font-size: 2.2rem;
}

#email-details .email-tag {
    padding: 3px;
    font-size: 0.9rem;
}

#email-details .collection {
    border: none;
}

#email-details .collection .collection-item.avatar {
    height: auto;
    padding-left: 72px;
    position: relative;
}

#email-details .collection .collection-item.avatar .icon {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
    top: 20px;
}

#email-details .collection .collection-item.avatar .circle {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 300;
    padding: 10px;
}

#email-details .collection .collection-item.avatar img.circle {
    padding: 0;
}

#email-details .collection .collection-item.selected {
    background: #e1f5fe;
    border-left: 4px solid #29b6f6;
}

#email-details .email-actions {
    padding-top: 25px;
}

#email-details .email-actions a {
    color: #757575;
    padding: 5px;
}

.email-reply {
    padding-top: 20px;
}

.email-reply a {
    color: #757575;
}

.email-reply a i {
    font-size: 2rem;
}

.email-reply p {
    color: #757575;
    margin: 0;
}

.model-email-content {
    padding: 24px;
}

/*----------------------------------------
    Blog
------------------------------------------*/
/* ----- Blog Card -----*/
.blog-card .card .card-content .card-title,
.blog-card .card .card-reveal .card-title {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 400;
}

.blog-card .card {
    margin: 0;
}

.blog-card .card .card-content {
    padding: 5px 10px;
}

.blog-card ul.card-action-buttons {
    margin: -26px 10px 0 0;
    text-align: right;
}

.blog-card ul.card-action-buttons li {
    display: inline-block;
    padding-left: 5px;
}

/* -----Blogs Masonery Page----- */
.blog .card .card-content .card-title,
.blog .card .card-reveal .card-title {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 400;
}

.blog {
    width: 20%;
    padding: 10px;
}

.blog .card {
    margin: 0;
}

.blog .card .card-content {
    padding: 5px 10px;
}

.blog ul.card-action-buttons {
    margin: -26px 10px 0 0;
    text-align: right;
}

.blog ul.card-action-buttons li {
    display: inline-block;
    padding-left: 5px;
}

.blog-sizer {
    width: 20%;
}

.blog-post-content {
    padding-bottom: 10px;
}

/*  blog page media queries */
@media screen and (max-width: 2200px) {
    .blog-sizer {
        width: 20%;
    }

    .blog {
        width: 20%;
    }

    .doughnut-chart-status {
        top: -100px;
    }

    .product-sizer {
        width: 20%;
    }

    .product {
        width: 20%;
    }

    .gallary-sizer {
        width: 20%;
    }

    .gallary-item img {
        width: 20%;
    }
}

@media screen and (max-width: 1800px) {
    .blog-sizer {
        width: 30%;
    }

    .blog {
        width: 30%;
    }

    .product-sizer {
        width: 30%;
    }

    .product {
        width: 30%;
    }

    .gallary-sizer {
        width: 30%;
    }

    .gallary-item img {
        width: 30%;
    }
}

@media screen and (max-width: 1600px) {
    .blog-sizer {
        width: 33.33%;
    }

    .doughnut-chart-status {
        top: -75px;
    }

    .blog {
        width: 33.33%;
    }

    .product-sizer {
        width: 25%;
    }

    .product {
        width: 25%;
    }

    .gallary-sizer {
        width: 25%;
    }

    .gallary-item img {
        width: 25%;
    }
}

@media screen and (max-width: 1224px) {
    .blog-sizer {
        width: 33.33%;
    }

    .doughnut-chart-status {
        top: -75px;
    }

    .doughnut-chart-status {
        top: -100px;
    }

    .blog {
        width: 33.33%;
    }

    .product-sizer {
        width: 33.33%;
    }

    .product {
        width: 33.33%;
    }

    .gallary-sizer {
        width: 33.33%;
    }

    .gallary-item img {
        width: 33.33%;
    }
}

@media screen and (max-width: 980px) {
    .blog-sizer {
        width: 50%;
    }

    .blog {
        width: 50%;
    }

    .product-sizer {
        width: 50%;
    }

    .product {
        width: 50%;
    }

    .gallary-sizer {
        width: 50%;
    }

    .gallary-item img {
        width: 50%;
    }
}

@media screen and (max-width: 720px) {
    .blog-sizer {
        width: 50%;
    }

    .blog {
        width: 50%;
    }

    .product-sizer {
        width: 50%;
    }

    .product {
        width: 50%;
    }

    .gallary-sizer {
        width: 50%;
    }

    .gallary-item img {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    .blog-sizer {
        width: 100%;
    }

    .blog {
        width: 100%;
    }

    .product-sizer {
        width: 100%;
    }

    .product {
        width: 100%;
    }

    .gallary-sizer {
        width: 100%;
    }

    .gallary-item img {
        width: 100%;
    }
}

/* -----Blogs Page Full width 2----- */
#blog-post-full .card-title {
    text-shadow: 1px 1px 4px #000;
    font-weight: 300;
    font-size: 2rem;
}

#blog-post-full .blog-post-full-cat {
    padding: 5px;
    margin: 25px;
    right: 0;
    left: inherit;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#blog-post-full .blog-post-full-cat a {
    color: #fff;
    text-shadow: none;
}

/*----------------------------------------
    Invoice Page
------------------------------------------*/
.invoice-table {
    padding-top: 40px;
}

.invoice-text {
    padding: 18px 0;
}

.invoice-icon i {
    font-size: 2rem;
}

/*----------------------------------------
    Products
------------------------------------------*/
/* ---- Product Card ----- */
.product-card .card .card-content .card-title,
.product-card .card .card-reveal .card-title {
    font-size: 1.1rem;
    line-height: 1.6rem;
    font-weight: 400;
}

.product-card .card {
    margin: 0;
}

.product-card .card .card-content {
    padding: 5px 10px;
}

.product-card .card .btn-price {
    width: 65px;
    height: 65px;
    font-weight: 600;
    font-size: 1.0rem;
    line-height: 65px;
    margin: 10px;
    position: absolute;
    top: 0;
    letter-spacing: 0;
}

.product-card ul.card-action-buttons {
    margin: -26px 10px 0 0;
    text-align: right;
}

.product-card ul.card-action-buttons li {
    display: inline-block;
    padding-left: 5px;
}

/********* START OF SELECT IMAGE BUTTON **********/
.selectedImage .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.selectedImage .fileinput-button {
    position: relative;
    overflow: hidden;
}

.selectedImage .fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

/******** END OF SELECT IMAGE BUTTON ********/
/* -----Products Masonery ----- */
.product .card .card-content .card-title,
.product .card .card-reveal .card-title {
    font-size: 1.1rem;
    line-height: 1.6rem;
    font-weight: 400;
}

.product {
    width: 20%;
    padding: 10px;
}

.product .card {
    margin: 0;
}

.product .card .card-content {
    padding: 5px 10px;
}

.product .card .btn-price {
    width: 65px;
    height: 65px;
    font-weight: 600;
    font-size: 1.0rem;
    line-height: 65px;
    margin: 10px;
    position: absolute;
    top: 0;
    letter-spacing: 0;
}

.product ul.card-action-buttons {
    margin: -26px 10px 0 0;
    text-align: right;
}

.product ul.card-action-buttons li {
    display: inline-block;
    padding-left: 5px;
}

.product-sizer {
    width: 20%;
}

.fixed-action-btn ul li {
    margin-bottom: 6px;
}

/*----------------------------------------
    Gallary  Page
------------------------------------------*/
.gallary-sizer {
    width: 20%;
}

.gallary-item img {
    width: 20%;
}

.slider .indicators {
    z-index: 9999;
}

/*----------------------------------------
    Contact Page (Map-card)
------------------------------------------*/
.map-card .card .card-content .card-title,
.map-card .card .card-reveal .card-title {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 400;
}

/* ---- Map card ----*/
.map-card #map-canvas {
    width: 100%;
    height: 250px;
}

.map-card .btn-move-up {
    top: -38px;
}

/* ---- Map Contact Page ----*/
#map-canvas {
    width: 100%;
    height: 250px;
}

/*----------------------------------------
    Pricing Plan  Page
------------------------------------------*/
.plans-container .collection {
    border: none;
}

.plans-container .collection .collection-item {
    border-bottom: none;
    text-align: center;
    font-size: 1.07rem;
    line-height: 1.6em;
}

.plans-container .collection .collection-item:before {
    font-size: 1.28rem;
    line-height: 1.6em;
    color: #009315;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    content: "\e623";
    margin-right: 10px;
}

.plans-container .card .card-image {
    position: relative;
    width: 100%;
}

.plans-container .card .card-image .card-title {
    position: relative;
    font-size: 1.28rem;
    line-height: 1.6em;
    text-align: center;
    width: 100%;
    padding: 10px 15px;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.1);
}

.plans-container .card .card-image .price {
    position: relative;
    font-size: 5rem;
    line-height: 1.6em;
    color: #fff;
    font-weight: 300;
    text-align: center;
}

.plans-container .card .card-image .price sup {
    font-weight: 100;
    font-size: 1.42rem;
    line-height: 1.6em;
    top: -35px;
}

.plans-container .card .card-image .price sub {
    font-weight: 100;
    font-size: 1.42rem;
    line-height: 1.6em;
    top: 0;
}

.plans-container .card .card-image .price-desc {
    text-align: center;
    color: #fff;
    padding-bottom: 10px;
}

.plans-container .card .card-content {
    padding: 0;
}

/*----------------------------------------
    Profile Page
------------------------------------------*/
#profile-page-header .card-image {
    height: 250px;
}

#profile-page-header .card-profile-image {
    width: 110px;
    position: absolute;
    top: 190px;
    z-index: 1;
    left: 40px;
    cursor: pointer;
    margin: 0;
}

#profile-page-header .card-content {
    margin-top: -40px;
}

#profile-page-header .card-content .card-title {
    margin-bottom: 0;
}

/*profile-page-wall*/
#profile-page-wall .profile-image-post {
    width: 60px;
    margin: 30px 10px;
}

#profile-page-wall .tab-content {
    padding: 10px;
}

#profile-page-wall .share-icons {
    margin-top: 10px;
}

#profile-page-wall .share-icons i {
    padding: 0 5px;
}

#profile-page-wall .tab-profile .tab i {
    font-size: 16px;
}

#profile-page-wall-posts .profile-small {
    height: 250px;
    overflow: hidden;
}

#profile-page-wall-posts .profile-medium {
    height: 350px;
    overflow: hidden;
}

#profile-page-wall-posts .profile-large {
    height: 450px;
    overflow: hidden;
}

#profile-page-wall-posts .card-profile-title {
    font-size: 16px;
    padding: 20px;
    border-radius: 0 0 2px 2px;
}

#profile-page-wall-posts .card-action-share {
    padding: 16px;
}

/*----------------------------------------
    Billing Page Table
------------------------------------------*/
.rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.rwd-table th {
    display: none;
}

.rwd-table td {
    display: block;
}

.rwd-table td:first-child {
    padding-top: .5em;
}

.rwd-table td:last-child {
    padding-bottom: .5em;
}

.rwd-table td:before {
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}

@media (min-width: 480px) {
    .rwd-table td:before {
        display: none;
    }
}

.rwd-table th,
.rwd-table td {
    text-align: left;
}

.rwd-table th,
.rwd-table td {
    display: table-cell;
    padding: .25em .5em;
}

.rwd-table th:first-child,
.rwd-table td:first-child {
    padding-left: 0;
}

.rwd-table th:last-child,
.rwd-table td:last-child {
    padding-right: 0;
}

.rwd-table {
    background: #0F5F76;
    color: #fff;
    border-radius: .4em;
    overflow: hidden;
}

.rwd-table tr {
    border-color: #46637f;
}

.rwd-table th,
.rwd-table td {
    margin: .5em 1em;
}

@media (min-width: 480px) {

    .rwd-table th,
    .rwd-table td {
        padding: 1em !important;
    }
}

.rwd-table th,
.rwd-table td:before {
    color: #dd5;
}

#mobileVerification {
    /*    z-index: 999 !important;*/
}

/*----------------------------------------
    footer charts
------------------------------------------*/
.page-footer .container {
    padding: 0 15px;
}

#world-map-markers {
    height: 300px;
}

#polar-chart-holder {
    padding-top: 20px;
}

/***************************************
           THEME CHOOSER
****************************************/
.spectrum-color {
    float: left;
    width: 85%;
    height: 200px;
}

.spectrum-all {
    margin-left: 15px;
}

.selected-color {
    width: 100px;
    height: 100px;
    /*    float: left;*/
    margin-left: auto;
    margin-right: auto;
    background: #f00;
}

/******************************************
                  month slider
******************************************/
#tabs-swipe-demo {
    border-radius: 5px;
}

#tabs-swipe-demo a {
    color: white;
}

#spectrum-color {
    padding-right: 10px;
    width: 80%;
    height: 200px;
    border-radius: 3px;
}

#spectrum-all {
    border-radius: 3px;
}

#rowBill .collapsible {
    margin: 0px;
}

/*******************************************
********************************************/
.calender {}

.header {
    width: 100%;
    background-color: #717373;
    display: flex;
}

.monthYear,
.hand {
    margin: auto;
    text-align: center;
}

.monthYear {
    width: 70%;
}

.hand {
    min-width: 15%;
    color: #000;
    font-size: 1.5em;
}

.hand:hover,
.days li:hover,
.add:hover {
    cursor: pointer;
}

.hand:hover {
    position: relative;
    top: 1px;
}

.right:hover {
    left: 1px;
}

.left:hover {
    right: 1px;
}

.main {
    width: 100%;
}

.weekDays {
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    border-bottom: 1px solid #333;
    float: left;
    background-color: rgb(175, 175, 175);
}

.weekDays li,
.days li {
    text-align: center;
}

.days {
    width: 100%;
    display: inline-block;
    float: left;
    background-color: lightgrey;
}

.days li {
    height: 50px;
    line-height: 50px;
}

.days li:hover {
    background-color: teal;
}

.calender .header {
    border-radius: 2px;
}

#rowBill .collapsible-header:last-child {
    background: red
}

/**********************************************
                 PLUS MINUS ICONS
************************************************/
.notificationSetting li {
    display: inline-block;
    width: 20px;
    margin-left: 1.5%;
}

.orders-holda .card-image {
    max-width: 100% !important;
}

.orders-holda .card-image img {
    width: 100% !important;
    object-fit: cover !important;
    margin-bottom: 10px;
}

.orders-holda .card-image .card-action {
    text-align: center !important;
}

.orders-holda .card-stacked .card-content {
    padding: 10px 0px 10px 10px !important;
}

@media screen and (max-width: 400px) {
    .orders-holda .card-image {
        max-width: 100% !important;
    }

    .card-action .pdfHide i {
        border: solid #ffab40 1px !important;
        padding: 5px 5px 5px 5px !important;
        border-radius: 5px !important;
        font-size: 0.8em !important;
    }

    .card-action .pdfHide {
        margin-right: 10px !important;
    }
}

/**********************************************
***********************************************
                  DESKTOP VERSION
***********************************************
**********************************************/
.revealOnLoad {
    display: block !important;
    transform: translateY(-100%) !important;
    -webkit-transform: translateY(-100%) !important;
}

@media screen and (max-width: 900px) {
    .storeInfo a {
        display: none !important;
    }
}

.btn-flat:active {
    background-color: #25A397 !important;
}

.loadCard {
    height: 60vh !important;
}

#editStoreModal {
    top: 15% !important;
}

#newStoreModal {
    top: 15% !important;
}

#loyaltyModal {
    top: 15% !important;
}

@media only screen and (max-width: 500px) {
    #rewards h5 {
        display: none;
    }
}

@media screen and (min-width: 993px) {
    ul.side-nav.leftside-navigation li {
        margin-top: 10px;
    }

    .navDskt {
        margin-left: -10px !important;
    }

    .navbar-fixed {
        height: 43px !important;
        z-index: 10 !important;
        display: block !important;
    }

    svg {
        z-index: 99999
    }

    #slide-out {
        margin-left: 27% !important;
        width: 26vw !important;
    }

    .user-details {
        margin-top: -10px !important;
    }

    #content {
        width: 74vw !important;
        float: right !important;
    }

    .deliveries {
        margin: 10% 20% !important;
    }

    #rewardsPoints {
        margin: 0 20% !important;
    }

    .products {
        margin-left: -20px !important;
    }

    .rewardsHeader {
        padding-top: 20px;
        text-align: left;
        padding-left: 30%;
    }

    #contactModal {
        margin-top: 10% !important;
        width: 30% !important;
        height: 45% !important;
        margin-left: 50% !important;
    }

    #add-product {
        width: 35% !important;
    }

    #add-product::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    #add-product::-webkit-scrollbar {
        width: 5px;
        background-color: #F5F5F5;
    }

    .swtchStrDskt {
        z-index: 1 !important;
    }

    #spnsrdModal {
        margin-top: 10% !important;
    }

    #complimentaryModal {
        width: 35% !important;
        margin-left: 45% !important;
        margin-top: 10% !important;
        top: -20% !important;
    }

    #add-product h5 {
        text-align: left !important;
        padding-left: 8% !important;
    }

    #removeManagerModal {
        width: 35%;
        margin-left: 40%;
        margin-top: 6%;
    }

    .tabs {
        height: 43px !important;
    }

    .navbar-fixed {
        display: none;
    }

    .promoSettings {
        margin-top: -2.7%;
    }

    ul.side-nav.leftside-navigation {
        top: 0px;
    }

    .side-nav {
        left: 0;
        -webkit-transform: none !important;
        transform: none !important;
        position: fixed;
    }

    .container {
        width: 90%;
        margin-left: 7.5%;
    }

    .promotions-holda {
        padding: 20px;
    }

    .card {
        overflow: hidden;
        width: 46%;
        float: left;
        margin: 2%;
    }

    .products-collapsible li {
        width: 44%;
        height: 65vh;
        overflow-y: auto;
        float: left;
    }

    .products-collapsible .collapsible-body {
        display: block !important;
    }

    .loadCard {
        height: 323px;
    }

    .payButton {
        top: 20% !important;
    }

    .settingsIcon {
        padding-top: 6px !important;
        padding-left: 30px !important;
    }

    .paymentIcon {
        margin-left: 30px !important;
    }

    .contactIcon {
        padding-left: 30px !important;
    }

    /*
    .editStore {
        display: none !important;
    }
*/
    .deliveriesIcon {
        /*        margin-left: 30px !important;*/
    }

    .switch {
        margin-top: 5px !important;
    }

    #editStoreModal {
        margin-left: 38% !important;
        width: 45%;
    }

    #editStoreModal .modal-content::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3) !important;
        background-color: rgba(76, 150, 143, 0.67);
    }

    #MobileModal {
        width: 80% !important;
        margin-left: auto;
    }

    #loyaltyModal {
        left: 25% !important;
    }

    .editStoreInfo form {
        width: 50%;
        padding-left: 8%;
    }

    .products nav {
        display: block !important;
    }

    .billing nav {
        display: block !important;
    }

    .storeInfo {
        display: block !important;
    }

    #add-product {
        left: 25% !important;
    }

    #beaconsPage {
        display: none;
    }

    #billingPage {
        margin-top: 6px;
    }

    .newStore {
        margin-left: 43px;
    }

    #collection_dskt .collection-item {
        display: block !important;
    }

    #login {
        margin-top: 5% !important;
    }

    #firstProdModal {
        margin-left: 33% !important;
    }

    .newStore {
        margin-left: 0px !important;
    }

    .card-reveal::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    .card-reveal::-webkit-scrollbar {
        width: 5px;
        background-color: #F5F5F5;
    }

    .card-reveal::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: rgba(76, 150, 143, 0.67);
    }

    .products-collapsible li {
        border-radius: 5px;
    }

    .products-collapsible li::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    .products-collapsible li::-webkit-scrollbar {
        width: 5px;
        background-color: #F5F5F5;
    }

    .products-collapsible li::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: rgba(76, 150, 143, 0.67);
    }

    #slide-out::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    #slide-out::-webkit-scrollbar {
        width: 5px;
        background-color: #F5F5F5;
    }

    #slide-out::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: rgba(204, 204, 204, 0.67);
    }

    .card {
        /* height: 50vh !important; */
    }

    .prdList {
        margin: 2%;
    }

    .prodImgDskt {
        float: none !important;
        width: 100% !important;
        height: 50% !important;
        background-size: contain !important;
        background-color: #BAE0FC;
        margin: 0px !important;
    }

    .products .collapsible {
        border-top: none !important;
    }

    .products .collapsible .divider {
        display: none;
    }

    .products-collapsible .collapsible-header {
        padding-left: 60px;
    }

    #MobileModal {
        width: 78vw !important;
        padding: 30px;
    }

    #loyaltyModal {
        text-align: center;
        width: 40%;
    }

    #switchStoreModal {
        margin-left: 23% !important;
    }

    .swtchStrDskt {
        width: 78vw !important;
        z-index: 2 !important;
    }

    .tabs {
        height: 45px !important;
    }

    .tabs li a {
        line-height: 45px !important;
    }

    #MobileModal {
        width: 43% !important;
        margin-right: 20%;
        padding: 0px;
    }

    #rewardsIcon {
        margin-left: 15px;
    }

    .side-nav {
        width: 25% !important;
    }

    #loyaltyPoints {
        width: 40%;
        margin-left: 43%;
    }

    #loyaltyPoints h5 {
        font-size: 1.5rem;
    }

    #newPromoModal {
        width: 50%;
        margin-left: 35%;
    }

    #spnsrdModal {
        width: 40%;
        margin-left: 41%;
        margin-top: 10% !important;
        top: -20% !important;
    }

    #mobiVeri {
        width: 75%;
        margin-left: auto;
    }

    #completeOrder {
        top: 35% !important;
        width: 35%;
        margin-left: 45%;
    }

    #newStoreModal {
        width: 40% !important;
        margin-left: 40% !important;
    }

    #cancelOrderModal {
        width: 40% !important;
        margin-left: 40% !important;
    }

    #confirmMemberModal {
        width: 40% !important;
        margin-left: 40% !important;
    }

    #removeMemberModal {
        width: 40% !important;
        margin-left: 40% !important;
    }

    #confirmAddMember {
        width: 40% !important;
        margin-left: 40% !important;
    }

    #firstProdModal {
        width: 40% !important;
        margin-left: 40% !important;
        margin-top: 10% !important;
    }

    #dlvryHelpModal {
        width: 40% !important;
        margin-left: 40% !important;
        margin-top: 10% !important;
    }

    #categoryModal {
        width: 40% !important;
        margin-left: 40% !important;
        margin-top: 10% !important;
    }

    #wkDayModal {
        padding-top: 10% !important;
        padding-left: 35% !important;
        padding-right: 20% !important;
    }

    #satModal {
        padding-top: 10% !important;
        padding-left: 35% !important;
        padding-right: 20% !important;
    }

    #sunModal {
        padding-top: 10% !important;
        padding-left: 35% !important;
        padding-right: 20% !important;
    }

    #rmvSpnsrdProd {
        padding-left: 40% !important;
        padding-right: 20% !important;
    }

    #firstStoreModal {
        width: 40% !important;
        text-align: center !important;
        height: 50% !important;
    }

    .navDskt {
        width: 75% !important;
        margin-left: -10px;
    }
}

/**********************************************
                  order range slider
**********************************************/
.timeline {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline .li {
    transition: all 200ms ease-in;
}

.timeline .timestamp {
    margin-bottom: 20px;
    padding: 0% 2% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
}

.timeline .status {
    display: flex;
    justify-content: center;
    border-top: 2px solid #D6DCE0;
    position: relative;
    transition: all 200ms ease-in;
}

.timeline .status h4 {
    font-weight: 600;
}

.timeline .status:before {
    content: "";
    width: -25px;
    height: 25px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid #ddd;
    position: absolute;
    top: -15px;
    left: 32%;
    transition: all 200ms ease-in;
}

.timeline .li.complete .status {
    border-top: 2px solid #ffab40;
}

.timeline .li.complete .status:before {
    background-color: #ffab40;
    border: none;
    transition: all 200ms ease-in;
}

.timeline .pendingCircle {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    top: -28px;
    left: 30%;
    transition: all 200ms ease-in;
    border-top: none !important;
    background-color: none !important;
}

.timeline .deliveryCircle {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    top: -28px;
    left: 30%;
    transition: all 200ms ease-in;
    border-top: none !important;
    background-color: none !important;
}

.timeline .completeCircle {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    top: -28px;
    left: 30%;
    transition: all 200ms ease-in;
    border-top: none !important;
    background-color: none !important;
}

.pendingText {
    color: #32ce32;
}

.pendingCol {
    border-top: 2px solid #32ce32 !important;
}

/********************************************
            Radio Group
********************************************/
.radio-group input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}

.radio-group label {
    color: #9a929e;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
}

.radio-group input[type=radio]:checked+label {
    color: white;
    background: #22a022;
}

.radio-group label+input[type=radio]+label {
    border-left: solid 0.6px #dadada;
}

.radio-group {
    border: solid 0.5px #dadada;
    display: inline-block;
    margin: 0;
    /* border-radius: 10px; */
    overflow: hidden;
    width: 100%;
    padding: -31px;
    border-right: 0.6px;
    border-left: 0.6px;
    line-height: 26px;
}

.radio-group label {
    padding: 2px;
    font-size: 10px !important;
}

.radio-group label:before {
    display: none
}

.radio-group label:after {
    display: none
}

.radioPad {
    padding: 0px 10px 0px 10px !important;
    margin: 0px !important;
}

/********************************************
            LOAYLTY POINTS
********************************************/
#loyaltyPoints a {
    display: block !important;
    margin-bottom: 15px !important;
}

#loyaltyPoints {
    top: 15% !important;
    max-height: 80%;
}

#switchStoreModal {
    /*    z-index: 1000 !important;*/
    max-height: 65% !important;
}

/********************************************
            Promotion
********************************************/
.counter-right,
.counter-left {
    transition: 0.5s;
}

.counter-right:disabled {
    background: #6c7271 !important;
}

.counter-left:disabled {
    background: #6c7271 !important;
}

[name=counter]:disabled {
    background: #6c7271 !important;
}

/********************************************
            Reward Points
********************************************/
#buy100 {
    background: #26a69a;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    border-radius: 4;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
}

#buy10000 {
    background: #26a69a;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    border-radius: 4;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
}

#buy1000 {
    background: #26a69a;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    border-radius: 4;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

#msg {
    width: 165px;
    height: 60px;
    background: #80C342;
    margin-left: 25%;
    position: relative;
}

#reverseMsg {
    width: 163px;
    height: 60px;
    background: #80C342;
    margin-right: 15%;
    position: relative;
}

#msg:before {
    content: "";
    position: absolute;
    border-bottom: 30px solid transparent;
    border-right: 21px solid #80C342;
    border-top: 30px solid transparent;
    height: 0px;
    width: 0px;
    margin-left: -102px;
}

#test-swipe-2 #msg {
    width: 165px;
    height: 60px;
    background: #80C342;
    margin-left: 25%;
    position: relative;
}

#test-swipe-2 #reverseMsg {
    width: 163px;
    height: 60px;
    background: #80C342;
    margin-right: 15%;
    position: relative;
}

#test-swipe-2 #msg:before {
    content: "";
    position: absolute;
    border-bottom: 30px solid transparent;
    border-right: 21px solid #80C342;
    border-top: 30px solid transparent;
    height: 0px;
    width: 0px;
    margin-left: -102px;
}

#test-swipe-2 #reverseMsg:after {
    content: "";
    position: absolute;
    border-bottom: 30px solid transparent;
    border-left: 21px solid #80C342;
    border-top: 30px solid transparent;
    height: 0px;
    width: 0px;
    right: -20px;
    top: 0;
}

#reverseMsg:after {
    content: "";
    position: absolute;
    border-bottom: 30px solid transparent;
    border-left: 21px solid #80C342;
    border-top: 30px solid transparent;
    height: 0px;
    width: 0px;
    right: -20px;
    top: 0;
}

.rewardbtn {
    height: 60px !important;
}

#cancelOrderModal {
    top: 30% !important;
}

/********************************************
            Products Page
********************************************/
.prodImgDskt {
    border-radius: 4px !important;
}

.products-collapsible .collapsible-body {
    min-width: 100%;
}

.newProdBtn {
    border-radius: 5px !important;
}

.newProdBtnName {
    font-size: 1rem !important;
}

/******* permanent changes ********/
.permanentChng h6 {
    text-align: center;
    border-bottom: 1px solid red;
    line-height: 0;
    padding: 0;
    margin-bottom: 25px;
    color: red;
}

.permanentChng h6 span {
    background: white;
    padding: 0 5px;
}

.currentOprt h6 {
    text-align: center;
    border-bottom: 1px solid #9e9e9e;
    line-height: 0;
    padding: 0;
    margin-bottom: 25px;
    width: 65%;
    color: #9e9e9e;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.currentOprt h6 span {
    background: white;
    padding: 0 5px;
}

/***************************************
             Promotion Car
****************************************/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 25px;
    right: 0;
    background-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 4%;
    width: 100%;
    /* text-align: center; */
    margin-top: 30px;
}

.overlay .closebtn {
    position: absolute;
    top: 60px;
    right: 20px;
    font-size: 33px;
    z-index: 099999999999999999999;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.radioPad {
    width: 25%;
    float: left;
}

/*******************************************
            SPONSORED PRODUCT
*********************************************/
.modal2 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0px;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    /* Black w/ opacity */
}

.modal-content2 {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    text-align: center;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.modal-header2 {
    padding: 2px 16px;
    background-color: red;
    color: white;
}

.modal-body2 {
    padding: 2px 16px;
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/*******************************************
                 RANGE SLIDER
*********************************************/
input[type=range]::-webkit-slider-thumb {
    background-color: #7EB7C8;
    height: 30px;
    width: 30px;
    margin-top: -15px;
}

ul.side-nav.leftside-navigation li:hover {
    background-color: none;
    margin-bottom: 8px;
}

.side-nav .collapsible-header:hover,
.side-nav.fixed .collapsible-header:hover {
    background-color: none;
}

ul.side-nav.leftside-navigation li:hover {
    background-color: none;
    margin-bottom: 8px;
}

.side-nav .collapsible-header:hover,
.side-nav.fixed .collapsible-header:hover {
    background-color: none !important;
}

.side-nav .collapsible-header:hover,
.side-nav.fixed .collapsible-header:hover {
    background-color: transparent;
}

.user-details {
    background-size: cover !important;
    margin-top: -10px !important;
}

#rewardsPoints p:last-child {
    box-shadow: none;
}

.tabs {
    height: 30px;
}

/*******************************************
                 RWEWARDS
*********************************************/
.rewardCard {
    background: white;
    border-radius: 5px;
    margin-bottom: 10px;
}

.rewardCard .row {
    padding: 10px;
}

.rewardCard .switch {
    float: right;
}

.rewardCard .lever {
    margin: 0px !important;
}

.rewardsHeader {
    width: 100.1%;
    position: fixed;
    margin-top: -2px;
    z-index: 998;
}

#socialIcns {
    text-align: center;
}

#socialIcns li {
    display: inline-block;
    padding-right: 10px;
}

/*******************************************
                 PRE LOADER
*********************************************/
.loader {
    -webkit-filter: url("#goo");
    filter: url("#goo");
    position: relative;
    width: 500px;
    height: 95px;
}

.loader::after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #0F5F76;
    margin: 0 auto;
    position: absolute;
    top: 30px;
    left: 220px;
    -webkit-animation: scale 2.5s ease-in-out infinite;
    animation: scale 2.5s ease-in-out infinite;
}

.loader div {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #0F5F76;
    top: 35px;
    left: 235px;
    -webkit-animation: move 2.5s ease-in-out infinite alternate;
    animation: move 2.5s ease-in-out infinite alternate;
}

.loader div::after,
.loader div::before {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #0F5F76;
}

.loader div::before {
    left: -40px;
}

.loader div::after {
    left: 40px;
}

@-webkit-keyframes move {
    0% {
        -webkit-transform: translateX(-200px);
        transform: translateX(-200px);
    }

    100% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
}

@keyframes move {
    0% {
        -webkit-transform: translateX(-120px);
        transform: translateX(-120px);
    }

    100% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
}

@-webkit-keyframes scale {
    10% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.25);
        transform: scale(1.25);
    }

    90% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale {
    10% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.25);
        transform: scale(1.25);
    }

    90% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

#svgPreloader {
    position: absolute;
    z-index: -100;
    pointer-events: none;
}

#editImgBtn {
    background: transparent !important;
    box-shadow: none !important;
}

#tokenList {
    text-align: center;
}

#tokenList ul {
    display: inline-block;
    text-align: center;
}

#tokenList img {
    border-radius: 50%;
}

#tokenList li {
    padding: 3px;
}

.slctdCompOrd {
    background: #dedbdb !important;
}

.salePromo {
    transition: opacity 1s ease-out;
    overflow-x: hidden;
}

.completeCard {
    transition: 0.5s;
}

#firstProdModal {
    margin-top: 35%;
}

.billing {
    margin-left: -13px;
}

@media only screen and (max-width: 500px) {
    .mobiNavHidden {
        display: none !important;
    }
}

/*******************************************
               QUOGGA
*********************************************/
#quagaLauncher video {
    /* width: 100%; */
    /* height: 100%; */
}

#quagaLauncher {
    height: 35vh;
}

#barCodeReader canvas {
    /*display: none;*/
}

/*******************************************
               Enterprise Settings
*********************************************/
.entForms {
    background: white;
    margin: 0px 5%;
    margin-left: 5% !important;
    margin-top: 20px;
    border-radius: 3px;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.entServicesSettings {
    background: white;
    margin: 0px 5%;
    margin-left: 5% !important;
    margin-top: 20px;
    border-radius: 3px;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    margin-bottom: 10px;
    position: relative;
    overflow-x: hidden !important;
}

.entServicesSettings h6 {
    padding: 10px;
    font-size: 1.2em;
    color: #585555;
    font-weight: bold;
    border-bottom: solid 1px #f7f6f6;
    margin-top: 0px;
}

.entServiceOneCards {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.75);
    border-radius: 3px;
    margin: auto !important;
}

.entServiceTwoCards {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.75);
    border-radius: 3px;
    margin: auto !important;
}

.entForms h6 {
    padding: 10px;
    font-size: 1.2em;
    color: #585555;
    font-weight: bold;
    border-bottom: solid 1px #f7f6f6;
}

.entForms .row {
    margin-bottom: 0px;
}

.entStatus {
    max-width: 90%;
    background: white;
    border-radius: 3px;
    padding: 10px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-left: 5% !important;
    padding-top: 0px;
    margin-top: 10px;
}

.entStatus h6 {
    padding: 10px;
    font-size: 1.2em;
    color: #585555;
    font-weight: bold;
    border-bottom: solid 1px #f7f6f6;
    padding-left: 10px;
}

.storeSettingsDivs {
    max-width: 95%;
    background: white;
    border-radius: 3px;
    padding: 10px 0px;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-left: 2.5% !important;
    padding-top: 0px;
    margin-top: 10px;
}

.storeSettingsDivs .row {
    padding: 0px 10px;
}

.storeSettingsDivs h6 {
    padding: 10px;
    font-size: 1.2em;
    color: #585555;
    font-weight: bold;
    border-bottom: solid 1px #f7f6f6;
    padding-left: 10px;
}

.entServicesCard .file-field {
    background: #0000000f;
}

.entBanner {
    background: white;
    margin: 5% !important;
    border-radius: 3px
}

.entBanner form {
    padding: 0px 10px;
}

.entBanner h6 {
    padding: 10px;
    font-size: 1.2em;
    color: #585555;
    font-weight: bold;
    border-bottom: solid 1px #f7f6f6;
}

/*******************************************
               Store Ent Settings
*********************************************/
.settingsPage ul {
    margin-top: -1px;
    z-index: 1;
}

.settingsPage li a {
    color: white !important;
}

.settingsPage li {
    /* height: 30px !important; */
    line-height: 30px !important;
}

/*******************************************
               GLOWING DIV
*********************************************/
.glow {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    padding: 5px 10px;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
    transition: 1s;
}

@-webkit-keyframes glowing {
    0% {
        background-color: #B20000;
        -webkit-box-shadow: 0 0 3px #B20000;
    }

    50% {
        background-color: #FF0000;
        -webkit-box-shadow: 0 0 40px #FF0000;
    }

    100% {
        background-color: #B20000;
        -webkit-box-shadow: 0 0 3px #B20000;
    }
}

@-moz-keyframes glowing {
    0% {
        background-color: #B20000;
        -moz-box-shadow: 0 0 3px #B20000;
    }

    50% {
        background-color: #FF0000;
        -moz-box-shadow: 0 0 40px #FF0000;
    }

    100% {
        background-color: #B20000;
        -moz-box-shadow: 0 0 3px #B20000;
    }
}

@-o-keyframes glowing {
    0% {
        background-color: #B20000;
        box-shadow: 0 0 3px #B20000;
    }

    50% {
        background-color: #FF0000;
        box-shadow: 0 0 40px #FF0000;
    }

    100% {
        background-color: #B20000;
        box-shadow: 0 0 3px #B20000;
    }
}

@keyframes glowing {
    0% {
        background-color: #B20000;
        box-shadow: 0 0 3px #B20000;
    }

    50% {
        background-color: #FF0000;
        box-shadow: 0 0 40px #FF0000;
    }

    100% {
        background-color: #B20000;
        box-shadow: 0 0 3px #B20000;
    }
}

/*******************************************
               Gauge Chart
*********************************************/
.sc-gauge {
    width: 200px;
    height: 200px;
    margin: 40px auto;
    margin-bottom: -30px;
}

.sc-background {
    position: relative;
    height: 100px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 150px 150px 0 0;
    overflow: hidden;
    text-align: center;
}

.sc-mask {
    position: absolute;
    top: 30px;
    right: 20px;
    left: 20px;
    height: 80px;
    background-color: #EEEEEF;
    border-radius: 150px 150px 0 0;
}

.sc-percentage {
    position: absolute;
    top: 100px;
    left: -200%;
    width: 400%;
    height: 400%;
    margin-left: 100px;
    background-color: #00aeef;
    transition: 1s;
}

.sc-percentage {
    transform: rotate(158deg);
    transform-origin: top center;
}

.sc-min {
    float: left;
}

.sc-max {
    float: right;
}

.sc-value {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    font-size: 35px;
    font-weight: 700;
}

/*******************************************
               Autocomplete Input
*********************************************/
.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}

input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

/*******************************************
               Token Section
*********************************************/
.tokenOwnerCard {
    background: white;
    margin: 5px 7px;
    padding: 5px 2px;
    border-radius: 2px;
}

.tokenOwnerCard p {
    margin: 2px;
    color: #717070;
}

#buyStoreTokens {
    /* margin-top: 20%; */
    overflow: initial;
}
